<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rectangle</title>
    <link rel="stylesheet" href="./stylesheets/display.css">
</head>
<body>
    <div>
        <form class = "form">
            <div>
                <h1 class = "headerText">Rectangle Information</h1>
            </div>
            <div>
                <table class = "table">
                    <ul>
                        <% results.forEach(function(r) { %>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>
                                        <h3 class = "headerThree" id = "name">
                                        <%= r.name %>
                                        </h3>
                                    </dt>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>Width</td>
                                    <td>
                                        <h3 class = "headerThree" id = "width">
                                            <%= r.width %>
                                        </h3>
                                    </dt>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>Height</td>
                                    <td>
                                        <h3 class = "headerThree" id = "height">
                                            <%= r.height %>
                                        </h3>
                                    </dt>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>Colour</td>
                                    <td>
                                        <h3 class = "headerThree" id = "colour">
                                            <%= r.colour %>
                                        </h3>
                                    </dt>
                                </tr>
                            </tbody>
                        <% }); %>
                    </ul>
                </table>
            </div>
            <div>
                <div>
                    <input class = "TextField" type="text" name="name" placeholder="Enter Name">
                </div>
                <div>
                    <input class = "TextField" type="number" oninput="validity.valid||(value='');" min="0" name="width" placeholder="Enter Width">
                </div>
                <div>
                    <input class = "TextField" type="number" oninput="validity.valid||(value='');" min="0" name="height" placeholder="Enter Height">
                </div>
                <div>
                    <input class = "TextField" type="text" name="colour" placeholder="Enter Colour">
                </div>
                <button class = "editButton">EDIT</button>
            </div>
        </form>
    </div>
</body>
<script src = "DisplayPage.js"></script>
</html>