body {
    background: linear-gradient(45deg, #49a09d, #5f2c82);
}

.form {
    min-height: 10em;
}
.formTwo {
    min-height: 5em;
}

.headerText {
    text-align: center;
    color: whitesmoke;
    font-family: Arial;
}

.table {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1em;
    color: whitesmoke;
    width: 100%;

    border-radius: 8px;
    
    border-collapse: collapse;
    overflow: hidden;
}

.table th, .table td {
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    width:30%; 
    padding: 0.8em;
    border-bottom: 1px solid whitesmoke;
    background-color: rgba(255,255,255,0.2);
}

.addRow, .deleteRow {
    margin-bottom: 1em;
    margin-top: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;

    font-size: 1em;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #CC0633; 
    border-radius: 20px;
    padding: 10px 3em;
    border: 0;
}

.deleteRow {
    background-color: #CC0633; 
}

.TextField, .TextFieldDelete {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.TextField {
    width: 30%;
    margin-left: 5vw;
    margin-top: 1em;
}

.TextFieldDelete {
    margin-top: 1em;
    width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.headerThree {
    margin-top: 0em;
    margin-bottom: 0em;
}

.container, .containerTwo {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
}

.container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.containerTwo {
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
